In [1]:
import pandas as pd
import numpy as np
import os

os.path.abspath("")

'/Users/richardguaman/Documents/University Year 3/webServerDataViz'

In [7]:
data = pd.read_csv("realdonaldtrump.csv", encoding='latin1',index_col = False, error_bad_lines=False)
data.head()

,id,link,content,date,retweets,favorites,mentions,hashtags
0,1698308935,https://twitter.com/realDonaldTrump/status/169...,Be sure to tune in and watch Donald Trump on L...,2009-05-04 13:54:25,510,917,NaN,NaN
1,1701461182,https://twitter.com/realDonaldTrump/status/170...,Donald Trump will be appearing on The View tom...,2009-05-04 20:00:10,34,267,NaN,NaN
2,1737479987,https://twitter.com/realDonaldTrump/status/173...,Donald Trump reads Top Ten Financial Tips on L...,2009-05-08 08:38:08,13,19,NaN,NaN
3,1741160716,https://twitter.com/realDonaldTrump/status/174...,New Blog Post: Celebrity Apprentice Finale and...,2009-05-08 15:40:15,11,26,NaN,NaN
4,1773561338,https://twitter.com/realDonaldTrump/status/177...,"""My persona will never be that of a wallflower...",2009-05-12 09:07:28,1375,1945,NaN,NaN

# Checking for null values

In [9]:
data.isnull().sum()

id               0
link             0
content          0
date             0
retweets         0
favorites        0
mentions     22966
hashtags     37769
dtype: int64

In [10]:
data.drop(["link"], axis =1,inplace=True)

# Adding Sentimental analysis

In [11]:
pip install -U textblob

Requirement already up-to-date: textblob in /opt/anaconda3/lib/python3.8/site-packages (0.15.3)
Requirement already satisfied, skipping upgrade: nltk>=3.1 in /opt/anaconda3/lib/python3.8/site-packages (from textblob) (3.5)
Requirement already satisfied, skipping upgrade: regex in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (2020.10.15)
Requirement already satisfied, skipping upgrade: joblib in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (0.17.0)
Requirement already satisfied, skipping upgrade: tqdm in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (4.50.2)
Requirement already satisfied, skipping upgrade: click in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (7.1.2)
Note: you may need to restart the kernel to use updated packages.

In [12]:
#Cleanning up tweet column
data['tidy_tweets'] = data['content'].str.replace('[^a-zA-Z#]+',' ')
data.drop(["content"], axis =1,inplace=True)
data

In [13]:
# after the tweet column has been cleaned we used the tidy_tweet to apply the sentimental analyis
import pandas as pd
from textblob import TextBlob

data['sentiment'] = data.tidy_tweets.apply(lambda x: TextBlob(str(x)).sentiment.polarity)
data

,id,date,retweets,favorites,mentions,hashtags,tidy_tweets,sentiment
0,1698308935,2009-05-04 13:54:25,510,917,NaN,NaN,Be sure to tune in and watch Donald Trump on L...,0.175000
1,1701461182,2009-05-04 20:00:10,34,267,NaN,NaN,Donald Trump will be appearing on The View tom...,0.136364
2,1737479987,2009-05-08 08:38:08,13,19,NaN,NaN,Donald Trump reads Top Ten Financial Tips on L...,0.105000
3,1741160716,2009-05-08 15:40:15,11,26,NaN,NaN,New Blog Post Celebrity Apprentice Finale and ...,0.136364
4,1773561338,2009-05-12 09:07:28,1375,1945,NaN,NaN,My persona will never be that of a wallflower...,0.000000
...,...,...,...,...,...,...,...,...
43347,1273405198698975232,2020-06-17 19:00:32,23402,116377,NaN,NaN,Joe Biden was a TOTAL FAILURE in Government He...,-0.158333
43348,1273408026968457216,2020-06-17 19:11:47,11810,56659,@seanhannity,NaN,Will be interviewed on seanhannity tonight at ...,0.400000
43349,1273442195161387008,2020-06-17 21:27:33,4959,19344,NaN,NaN,pic twitter com lm spbU X,0.000000
43350,1273442469066276864,2020-06-17 21:28:38,4627,17022,NaN,NaN,pic twitter com vpCE MadUz,0.000000
43351,1273442528411385858,2020-06-17 21:28:52,3951,14344,NaN,NaN,pic twitter com VLlc BHW,0.000000

### Creating Day of the week and time colums

In [14]:
data['date'] = pd.to_datetime(data['date'])

data['day_of_week'] = data['date'].dt.day_name()
data

,id,date,retweets,favorites,mentions,hashtags,tidy_tweets,sentiment,day_of_week
0,1698308935,2009-05-04 13:54:25,510,917,NaN,NaN,Be sure to tune in and watch Donald Trump on L...,0.175000,Monday
1,1701461182,2009-05-04 20:00:10,34,267,NaN,NaN,Donald Trump will be appearing on The View tom...,0.136364,Monday
2,1737479987,2009-05-08 08:38:08,13,19,NaN,NaN,Donald Trump reads Top Ten Financial Tips on L...,0.105000,Friday
3,1741160716,2009-05-08 15:40:15,11,26,NaN,NaN,New Blog Post Celebrity Apprentice Finale and ...,0.136364,Friday
4,1773561338,2009-05-12 09:07:28,1375,1945,NaN,NaN,My persona will never be that of a wallflower...,0.000000,Tuesday
...,...,...,...,...,...,...,...,...,...
43347,1273405198698975232,2020-06-17 19:00:32,23402,116377,NaN,NaN,Joe Biden was a TOTAL FAILURE in Government He...,-0.158333,Wednesday
43348,1273408026968457216,2020-06-17 19:11:47,11810,56659,@seanhannity,NaN,Will be interviewed on seanhannity tonight at ...,0.400000,Wednesday
43349,1273442195161387008,2020-06-17 21:27:33,4959,19344,NaN,NaN,pic twitter com lm spbU X,0.000000,Wednesday
43350,1273442469066276864,2020-06-17 21:28:38,4627,17022,NaN,NaN,pic twitter com vpCE MadUz,0.000000,Wednesday
43351,1273442528411385858,2020-06-17 21:28:52,3951,14344,NaN,NaN,pic twitter com VLlc BHW,0.000000,Wednesday

In [15]:
data['date_only'] = data['date'].dt.date

In [18]:
import datetime
# extracting time from timestamp
data['Time'] = [datetime.datetime.time(d) for d in data['date']]

In [19]:
# after extracting time and day_of_week from timestamp I drop created_at
data.drop(["date"], axis =1,inplace=True)
data.head(10)

,id,retweets,favorites,mentions,hashtags,tidy_tweets,sentiment,day_of_week,date_only,Time
0,1698308935,510,917,NaN,NaN,Be sure to tune in and watch Donald Trump on L...,0.175000,Monday,2009-05-04,13:54:25
1,1701461182,34,267,NaN,NaN,Donald Trump will be appearing on The View tom...,0.136364,Monday,2009-05-04,20:00:10
2,1737479987,13,19,NaN,NaN,Donald Trump reads Top Ten Financial Tips on L...,0.105000,Friday,2009-05-08,08:38:08
3,1741160716,11,26,NaN,NaN,New Blog Post Celebrity Apprentice Finale and ...,0.136364,Friday,2009-05-08,15:40:15
4,1773561338,1375,1945,NaN,NaN,My persona will never be that of a wallflower...,0.000000,Tuesday,2009-05-12,09:07:28
5,1776419923,29,28,NaN,NaN,Miss USA Tara Conner will not be fired I ve al...,0.000000,Tuesday,2009-05-12,14:21:55
6,1786560616,15,16,NaN,NaN,Listen to an interview with Donald Trump discu...,0.136364,Wednesday,2009-05-13,12:38:28
7,1796477499,18,27,NaN,NaN,Strive for wholeness and keep your sense of w...,0.000000,Thursday,2009-05-14,11:30:40
8,1806258917,15,9,NaN,NaN,Enter the Think Like A Champion signed book an...,0.000000,Friday,2009-05-15,09:13:13
9,1820624395,19,47,NaN,NaN,When the achiever achieves it s not a plateau...,0.000000,Saturday,2009-05-16,17:22:45

### Transforming sentimental column

In [55]:
def applyFunc(s):
    if s >= 0.1:
        return 'Positive'
    elif s <= -0.1:
        return 'Negative'
    elif s == 0.000000:
        return 'Neutral'
    return ''

data['Overall_sentimental'] = data['sentiment'].apply(applyFunc)
data

,id,retweets,favorites,mentions,hashtags,tidy_tweets,sentiment,day_of_week,date_only,Time,Overall_Sentimental,Overall_sentimental
0,1698308935,510,917,NaN,NaN,Be sure to tune in and watch Donald Trump on L...,0.175000,Monday,2009-05-04,13:54:25,,Positive
1,1701461182,34,267,NaN,NaN,Donald Trump will be appearing on The View tom...,0.136364,Monday,2009-05-04,20:00:10,,Positive
2,1737479987,13,19,NaN,NaN,Donald Trump reads Top Ten Financial Tips on L...,0.105000,Friday,2009-05-08,08:38:08,,Positive
3,1741160716,11,26,NaN,NaN,New Blog Post Celebrity Apprentice Finale and ...,0.136364,Friday,2009-05-08,15:40:15,,Positive
4,1773561338,1375,1945,NaN,NaN,My persona will never be that of a wallflower...,0.000000,Tuesday,2009-05-12,09:07:28,Neutral,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...
43347,1273405198698975232,23402,116377,NaN,NaN,Joe Biden was a TOTAL FAILURE in Government He...,-0.158333,Wednesday,2020-06-17,19:00:32,,Negative
43348,1273408026968457216,11810,56659,@seanhannity,NaN,Will be interviewed on seanhannity tonight at ...,0.400000,Wednesday,2020-06-17,19:11:47,,Positive
43349,1273442195161387008,4959,19344,NaN,NaN,pic twitter com lm spbU X,0.000000,Wednesday,2020-06-17,21:27:33,Neutral,Neutral
43350,1273442469066276864,4627,17022,NaN,NaN,pic twitter com vpCE MadUz,0.000000,Wednesday,2020-06-17,21:28:38,Neutral,Neutral
43351,1273442528411385858,3951,14344,NaN,NaN,pic twitter com VLlc BHW,0.000000,Wednesday,2020-06-17,21:28:52,Neutral,Neutral

In [57]:
data.drop(["Overall_Sentimental"], axis =1,inplace=True)

In [50]:
data.to_csv('DonaldTrump_Clean_tweets.csv',index=False)

In [71]:
# after extracting time and day_of_week from timestamp I drop created_at
data.drop(["tidy_tweets"], axis =1,inplace=True)

KeyError: "['tidy_tweets'] not found in axis"

In [72]:
data

,id,retweets,favorites,mentions,hashtags\r,sentiment,day_of_week,date_only,Time
0,1698308935,510,917,NaN,\r,0.175000,Monday,2009-05-04,13:54:25
1,1701461182,34,267,NaN,\r,0.136364,Monday,2009-05-04,20:00:10
2,1737479987,13,19,NaN,\r,0.105000,Friday,2009-05-08,08:38:08
3,1741160716,11,26,NaN,\r,0.136364,Friday,2009-05-08,15:40:15
4,1773561338,1375,1945,NaN,\r,0.000000,Tuesday,2009-05-12,09:07:28
...,...,...,...,...,...,...,...,...,...
43347,1273405198698975232,23402,116377,NaN,\r,-0.158333,Wednesday,2020-06-17,19:00:32
43348,1273408026968457216,11810,56659,@seanhannity,\r,0.400000,Wednesday,2020-06-17,19:11:47
43349,1273442195161387008,4959,19344,NaN,\r,0.000000,Wednesday,2020-06-17,21:27:33
43350,1273442469066276864,4627,17022,NaN,\r,0.000000,Wednesday,2020-06-17,21:28:38
43351,1273442528411385858,3951,14344,NaN,\r,0.000000,Wednesday,2020-06-17,21:28:52

In [79]:
data.dtypes

id                      int64
retweets                int64
favorites               int64
mentions               object
hashtags\r             object
sentiment             float64
day_of_week            object
date_only      datetime64[ns]
Time                   object
dtype: object

In [81]:
df['date_only'] = df['date_only'].apply(lambda x: x.strftime('%Y/%m/%d'))

KeyError: 'date_only'

In [73]:
data.to_csv('DonaldTrump_Clean_NO_tweets.csv',index=False)