In [2]:
import pandas as pd
import numpy as np
import os

os.path.abspath("")

'/Users/richardguaman/Documents/University Year 3/webServerDataViz'

In [39]:
data = pd.read_csv("JoeBidenTweets.csv", encoding='latin1',index_col = False, error_bad_lines=False)
#filtering data from 2012 onwards
df = data[(data['timestamp'] > '2012-01-01') & (data['timestamp'] < '2020-12-12')]
df.head()

,id,timestamp,url,tweet,replies,retweets,quotes,likes
2,189287227321356289,2012-04-09 09:42,https://twitter.com/JoeBiden/status/1892872273...,We're excited to announce that @JoeBiden is be...,21,82,1,20
3,189287350034104320,2012-04-09 09:43,https://twitter.com/JoeBiden/status/1892873500...,Campaign staff will run this account to keep y...,144,76,37,51
4,189339650610036736,2012-04-09 13:11,https://twitter.com/JoeBiden/status/1893396506...,News for you this morning: VP Biden will speak...,10,54,0,5
5,189343279140184065,2012-04-09 13:25,https://twitter.com/JoeBiden/status/1893432791...,"In NH on 4/12, the Vice President will give hi...",16,52,0,6
6,189383473717460992,2012-04-09 16:05,https://twitter.com/JoeBiden/status/1893834737...,Iâm for the Buffett Rule because it just mak...,114,471,0,51

# Checking for null values

In [40]:
df.isnull().sum()

id           0
timestamp    0
url          0
tweet        0
replies      0
retweets     0
quotes       0
likes        0
dtype: int64

In [41]:
df.drop(["url"], axis =1,inplace=True)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

# Adding Sentimental analysis

In [42]:
pip install -U textblob

Requirement already up-to-date: textblob in /opt/anaconda3/lib/python3.8/site-packages (0.15.3)
Requirement already satisfied, skipping upgrade: nltk>=3.1 in /opt/anaconda3/lib/python3.8/site-packages (from textblob) (3.5)
Requirement already satisfied, skipping upgrade: joblib in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (0.17.0)
Requirement already satisfied, skipping upgrade: click in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied, skipping upgrade: regex in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (2020.10.15)
Requirement already satisfied, skipping upgrade: tqdm in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.1->textblob) (4.50.2)
Note: you may need to restart the kernel to use updated packages.

In [43]:
#Cleanning up tweet column
df['tidy_tweets'] = df['tweet'].str.replace('[^a-zA-Z#]+',' ')
df.drop(["tweet"], axis =1,inplace=True)
df

<ipython-input-43-8c89c0cd2855>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tidy_tweets'] = df['tweet'].str.replace('[^a-zA-Z#]+',' ')

,id,timestamp,replies,retweets,quotes,likes,tidy_tweets
2,189287227321356289,2012-04-09 09:42,21,82,1,20,We re excited to announce that JoeBiden is bei...
3,189287350034104320,2012-04-09 09:43,144,76,37,51,Campaign staff will run this account to keep y...
4,189339650610036736,2012-04-09 13:11,10,54,0,5,News for you this morning VP Biden will speak ...
5,189343279140184065,2012-04-09 13:25,16,52,0,6,In NH on the Vice President will give his take...
6,189383473717460992,2012-04-09 16:05,114,471,0,51,I m for the Buffett Rule because it just makes...
...,...,...,...,...,...,...,...
6059,1322865972819251200,2020-11-01 11:40,3085,3654,480,36995,As president I ll build an economy that reward...
6060,1322871257902145536,2020-11-01 12:01,2211,4211,1246,34240,Let s put dogs back in the White House https t...
6061,1322876039144636417,2020-11-01 12:20,918,1143,122,6954,We have in our hands the ultimate power the po...
6062,1322881072363917312,2020-11-01 12:40,1281,2255,344,16696,We need to Build bridges not walls Open our ar...
6063,1322886357535150081,2020-11-01 13:01,168,270,37,1648,Jodie you have my word I will always stand up ...

In [44]:
# after the tweet column has been cleaned we used the tidy_tweet to apply the sentimental analyis
import pandas as pd
from textblob import TextBlob

df['sentiment'] = df.tidy_tweets.apply(lambda x: TextBlob(str(x)).sentiment.polarity)
df

<ipython-input-44-e3636cfbcf45>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentiment'] = df.tidy_tweets.apply(lambda x: TextBlob(str(x)).sentiment.polarity)

,id,timestamp,replies,retweets,quotes,likes,tidy_tweets,sentiment
2,189287227321356289,2012-04-09 09:42,21,82,1,20,We re excited to announce that JoeBiden is bei...,0.375000
3,189287350034104320,2012-04-09 09:43,144,76,37,51,Campaign staff will run this account to keep y...,0.000000
4,189339650610036736,2012-04-09 13:11,10,54,0,5,News for you this morning VP Biden will speak ...,0.000000
5,189343279140184065,2012-04-09 13:25,16,52,0,6,In NH on the Vice President will give his take...,0.000000
6,189383473717460992,2012-04-09 16:05,114,471,0,51,I m for the Buffett Rule because it just makes...,0.000000
...,...,...,...,...,...,...,...,...
6059,1322865972819251200,2020-11-01 11:40,3085,3654,480,36995,As president I ll build an economy that reward...,0.000000
6060,1322871257902145536,2020-11-01 12:01,2211,4211,1246,34240,Let s put dogs back in the White House https t...,0.000000
6061,1322876039144636417,2020-11-01 12:20,918,1143,122,6954,We have in our hands the ultimate power the po...,-0.100000
6062,1322881072363917312,2020-11-01 12:40,1281,2255,344,16696,We need to Build bridges not walls Open our ar...,0.291667
6063,1322886357535150081,2020-11-01 13:01,168,270,37,1648,Jodie you have my word I will always stand up ...,0.000000

### Transforming sentimental column

In [45]:
def applyFunc(s):
    if s >= 0.1:
        return 'Positive'
    elif s <= -0.1:
        return 'Negative'
    return 'Neutral'

df['Overall_sentimental'] = df['sentiment'].apply(applyFunc)
df

<ipython-input-45-9261c7461308>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Overall_sentimental'] = df['sentiment'].apply(applyFunc)

,id,timestamp,replies,retweets,quotes,likes,tidy_tweets,sentiment,Overall_sentimental
2,189287227321356289,2012-04-09 09:42,21,82,1,20,We re excited to announce that JoeBiden is bei...,0.375000,Positive
3,189287350034104320,2012-04-09 09:43,144,76,37,51,Campaign staff will run this account to keep y...,0.000000,Neutral
4,189339650610036736,2012-04-09 13:11,10,54,0,5,News for you this morning VP Biden will speak ...,0.000000,Neutral
5,189343279140184065,2012-04-09 13:25,16,52,0,6,In NH on the Vice President will give his take...,0.000000,Neutral
6,189383473717460992,2012-04-09 16:05,114,471,0,51,I m for the Buffett Rule because it just makes...,0.000000,Neutral
...,...,...,...,...,...,...,...,...,...
6059,1322865972819251200,2020-11-01 11:40,3085,3654,480,36995,As president I ll build an economy that reward...,0.000000,Neutral
6060,1322871257902145536,2020-11-01 12:01,2211,4211,1246,34240,Let s put dogs back in the White House https t...,0.000000,Neutral
6061,1322876039144636417,2020-11-01 12:20,918,1143,122,6954,We have in our hands the ultimate power the po...,-0.100000,Negative
6062,1322881072363917312,2020-11-01 12:40,1281,2255,344,16696,We need to Build bridges not walls Open our ar...,0.291667,Positive
6063,1322886357535150081,2020-11-01 13:01,168,270,37,1648,Jodie you have my word I will always stand up ...,0.000000,Neutral

### Creating Day of the week and time colums

In [46]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

df['day_of_week'] = df['timestamp'].dt.day_name()
df

<ipython-input-46-f38e4e4213e0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['timestamp'] = pd.to_datetime(df['timestamp'])
<ipython-input-46-f38e4e4213e0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day_of_week'] = df['timestamp'].dt.day_name()

,id,timestamp,replies,retweets,quotes,likes,tidy_tweets,sentiment,Overall_sentimental,day_of_week
2,189287227321356289,2012-04-09 09:42:00,21,82,1,20,We re excited to announce that JoeBiden is bei...,0.375000,Positive,Monday
3,189287350034104320,2012-04-09 09:43:00,144,76,37,51,Campaign staff will run this account to keep y...,0.000000,Neutral,Monday
4,189339650610036736,2012-04-09 13:11:00,10,54,0,5,News for you this morning VP Biden will speak ...,0.000000,Neutral,Monday
5,189343279140184065,2012-04-09 13:25:00,16,52,0,6,In NH on the Vice President will give his take...,0.000000,Neutral,Monday
6,189383473717460992,2012-04-09 16:05:00,114,471,0,51,I m for the Buffett Rule because it just makes...,0.000000,Neutral,Monday
...,...,...,...,...,...,...,...,...,...,...
6059,1322865972819251200,2020-11-01 11:40:00,3085,3654,480,36995,As president I ll build an economy that reward...,0.000000,Neutral,Sunday
6060,1322871257902145536,2020-11-01 12:01:00,2211,4211,1246,34240,Let s put dogs back in the White House https t...,0.000000,Neutral,Sunday
6061,1322876039144636417,2020-11-01 12:20:00,918,1143,122,6954,We have in our hands the ultimate power the po...,-0.100000,Negative,Sunday
6062,1322881072363917312,2020-11-01 12:40:00,1281,2255,344,16696,We need to Build bridges not walls Open our ar...,0.291667,Positive,Sunday
6063,1322886357535150081,2020-11-01 13:01:00,168,270,37,1648,Jodie you have my word I will always stand up ...,0.000000,Neutral,Sunday

In [49]:
df['date_only'] = df['timestamp'].dt.date

<ipython-input-49-bf76f2ca1d54>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date_only'] = df['timestamp'].dt.date

In [50]:
import datetime
# extracting time from timestamp
df['Time'] = [datetime.datetime.time(d) for d in df['timestamp']] 
df

<ipython-input-50-1d518ecad73b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time'] = [datetime.datetime.time(d) for d in df['timestamp']]

,id,timestamp,replies,retweets,quotes,likes,tidy_tweets,sentiment,Overall_sentimental,day_of_week,date_only,Time
2,189287227321356289,2012-04-09 09:42:00,21,82,1,20,We re excited to announce that JoeBiden is bei...,0.375000,Positive,Monday,2012-04-09,09:42:00
3,189287350034104320,2012-04-09 09:43:00,144,76,37,51,Campaign staff will run this account to keep y...,0.000000,Neutral,Monday,2012-04-09,09:43:00
4,189339650610036736,2012-04-09 13:11:00,10,54,0,5,News for you this morning VP Biden will speak ...,0.000000,Neutral,Monday,2012-04-09,13:11:00
5,189343279140184065,2012-04-09 13:25:00,16,52,0,6,In NH on the Vice President will give his take...,0.000000,Neutral,Monday,2012-04-09,13:25:00
6,189383473717460992,2012-04-09 16:05:00,114,471,0,51,I m for the Buffett Rule because it just makes...,0.000000,Neutral,Monday,2012-04-09,16:05:00
...,...,...,...,...,...,...,...,...,...,...,...,...
6059,1322865972819251200,2020-11-01 11:40:00,3085,3654,480,36995,As president I ll build an economy that reward...,0.000000,Neutral,Sunday,2020-11-01,11:40:00
6060,1322871257902145536,2020-11-01 12:01:00,2211,4211,1246,34240,Let s put dogs back in the White House https t...,0.000000,Neutral,Sunday,2020-11-01,12:01:00
6061,1322876039144636417,2020-11-01 12:20:00,918,1143,122,6954,We have in our hands the ultimate power the po...,-0.100000,Negative,Sunday,2020-11-01,12:20:00
6062,1322881072363917312,2020-11-01 12:40:00,1281,2255,344,16696,We need to Build bridges not walls Open our ar...,0.291667,Positive,Sunday,2020-11-01,12:40:00
6063,1322886357535150081,2020-11-01 13:01:00,168,270,37,1648,Jodie you have my word I will always stand up ...,0.000000,Neutral,Sunday,2020-11-01,13:01:00

In [51]:
# after extracting time and day_of_week from timestamp I drop created_at
df.drop(["timestamp"], axis =1,inplace=True)
df.head(10)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,id,replies,retweets,quotes,likes,tidy_tweets,sentiment,Overall_sentimental,day_of_week,date_only,Time
2,189287227321356289,21,82,1,20,We re excited to announce that JoeBiden is bei...,0.375,Positive,Monday,2012-04-09,09:42:00
3,189287350034104320,144,76,37,51,Campaign staff will run this account to keep y...,0.000,Neutral,Monday,2012-04-09,09:43:00
4,189339650610036736,10,54,0,5,News for you this morning VP Biden will speak ...,0.000,Neutral,Monday,2012-04-09,13:11:00
5,189343279140184065,16,52,0,6,In NH on the Vice President will give his take...,0.000,Neutral,Monday,2012-04-09,13:25:00
6,189383473717460992,114,471,0,51,I m for the Buffett Rule because it just makes...,0.000,Neutral,Monday,2012-04-09,16:05:00
7,189456416917032960,13,29,0,12,During a recent campaign stop in Ohio VP Biden...,0.050,Neutral,Monday,2012-04-09,20:55:00
8,189712253187145728,21,217,1,137,Favorite Joe photos volume http t co Xt pSrGc,0.500,Positive,Tuesday,2012-04-10,13:51:00
9,189742771387637760,8,21,0,5,The VP will be speaking in NH on Thursday abou...,0.000,Neutral,Tuesday,2012-04-10,15:52:00
10,189773314288402432,16,44,0,7,Joe We re not only fighting to keep jobs in th...,0.000,Neutral,Tuesday,2012-04-10,17:54:00
11,189813040856825856,26,26,0,3,Congress is scheduled to vote on the Buffett R...,0.000,Neutral,Tuesday,2012-04-10,20:32:00

In [36]:
df.dtypes

id                       int64
replies                  int64
retweets                 int64
quotes                   int64
likes                    int64
tidy_tweets             object
sentiment              float64
Overall_sentimental     object
day_of_week             object
Time                    object
dtype: object

## Creating a summary table by date and mean sentimental

In [107]:
new_df = df.filter(['sentiment','date_only'], axis=1)

In [109]:
new_df['date_only'] = pd.to_datetime(new_df['date_only'])
date_only = new_df.set_index('date_only')
date_only

            sentiment
date_only
2012-04-09   0.375000
2012-04-09   0.000000
2012-04-09   0.000000
2012-04-09   0.000000
2012-04-09   0.000000
...               ...
2020-11-01   0.000000
2020-11-01   0.000000
2020-11-01  -0.100000
2020-11-01   0.291667
2020-11-01   0.000000

[6062 rows x 1 columns]

In [98]:
#Monthly summary table with mean sentimental column
monthly_df = date_only.groupby(pd.Grouper(freq='M', level='date_only')).mean()
monthly_df

            sentiment
date_only
2012-04-30   0.134244
2012-05-31   0.116042
2012-06-30   0.171586
2012-07-31   0.120889
2012-08-31   0.148820
...               ...
2020-07-31   0.098479
2020-08-31   0.126063
2020-09-30   0.121520
2020-10-31   0.114298
2020-11-30   0.074997

[104 rows x 1 columns]

In [99]:
#Monthly summary table with mean sentimental column - freq = M = Monthly check documentation for more info
monthly_df["Average_sentiment"] = date_only.groupby(pd.Grouper(freq='M', level='date_only')).mean()
monthly_df["count_tweets_per_day"] = date_only.groupby(pd.Grouper(freq='M', level='date_only')).count()
#reseting index to default - RUN TIHS ONLY ONCE as it creates new index and level_o every time 
monthly_df.reset_index(level=0, inplace=True)
monthly_df.drop(["sentiment"], axis =1,inplace=True)

In [100]:
def applyFunc_2(s):
    if s >= 0.1:
        return 'Positive'
    elif s <= -0.1:
        return 'Negative'
    return 'Neutral'

monthly_df['Overall_sentimental'] = monthly_df['Average_sentiment'].apply(applyFunc_2)
monthly_df.to_csv('DonaldTrump_Daily_summary.csv',index=False)
monthly_df

     date_only  Average_sentiment  count_tweets_per_day Overall_sentimental
0   2012-04-30           0.134244                    71            Positive
1   2012-05-31           0.116042                    61            Positive
2   2012-06-30           0.171586                    69            Positive
3   2012-07-31           0.120889                    83            Positive
4   2012-08-31           0.148820                    94            Positive
..         ...                ...                   ...                 ...
99  2020-07-31           0.098479                   228             Neutral
100 2020-08-31           0.126063                   337            Positive
101 2020-09-30           0.121520                   303            Positive
102 2020-10-31           0.114298                   504            Positive
103 2020-11-30           0.074997                    19             Neutral

[104 rows x 4 columns]

In [101]:
monthly_df.to_csv('JoeBiden_Monthly_summary.csv',index=False)

### Daily summary table

In [138]:
#Dainly summary table with mean sentimental column
daily_mean = date_only.groupby(pd.Grouper(freq='1d', level='date_only')).mean()
daily_mean

            sentiment
date_only
2012-04-09   0.070833
2012-04-10   0.125000
2012-04-11   0.159273
2012-04-12   0.277273
2012-04-13   0.099956
...               ...
2020-10-28   0.093219
2020-10-29   0.128608
2020-10-30   0.098886
2020-10-31   0.145417
2020-11-01   0.074997

[3129 rows x 1 columns]

In [139]:
#Dainly summary table with count of tweets per dar column
daily_count = date_only.groupby(pd.Grouper(freq='1d', level='date_only')).count()
daily_count

            sentiment
date_only
2012-04-09          6
2012-04-10          4
2012-04-11          5
2012-04-12          4
2012-04-13          7
...               ...
2020-10-28         19
2020-10-29         23
2020-10-30         16
2020-10-31         26
2020-11-01         19

[3129 rows x 1 columns]

In [140]:
daily_summary = pd.merge(daily_mean,daily_count, left_index=True, right_index=True)
daily_summary

            sentiment_x  sentiment_y
date_only
2012-04-09     0.070833            6
2012-04-10     0.125000            4
2012-04-11     0.159273            5
2012-04-12     0.277273            4
2012-04-13     0.099956            7
...                 ...          ...
2020-10-28     0.093219           19
2020-10-29     0.128608           23
2020-10-30     0.098886           16
2020-10-31     0.145417           26
2020-11-01     0.074997           19

[3129 rows x 2 columns]

In [141]:
# Resetting index
daily_summary.reset_index(level=0, inplace=True)
daily_df = daily_summary.rename(columns={"sentiment_x": "mean_sentiment", "sentiment_y": "countOf_tweets_day"})

In [143]:
def applyFunc_2(s):
    if s >= 0.1:
        return 'Positive'
    elif s <= -0.1:
        return 'Negative'
    return 'Neutral'

daily_df['tweet_sentiment'] = daily_df['mean_sentiment'].apply(applyFunc_2)
daily_df

      date_only  mean_sentiment  countOf_tweets_day tweet_sentiment
0    2012-04-09        0.070833                   6         Neutral
1    2012-04-10        0.125000                   4        Positive
2    2012-04-11        0.159273                   5        Positive
3    2012-04-12        0.277273                   4        Positive
4    2012-04-13        0.099956                   7         Neutral
...         ...             ...                 ...             ...
3124 2020-10-28        0.093219                  19         Neutral
3125 2020-10-29        0.128608                  23        Positive
3126 2020-10-30        0.098886                  16         Neutral
3127 2020-10-31        0.145417                  26        Positive
3128 2020-11-01        0.074997                  19         Neutral

[3129 rows x 4 columns]

### Adding Fav and Retweets columns

In [147]:
retweetsColumn_df = df.filter(['retweets','date_only'], axis=1)
favoritesColumn_df = df.filter(['likes','date_only'], axis=1)

retweetsColumn_df['date_only'] = pd.to_datetime(new_df['date_only'])
favoritesColumn_df['date_only'] = pd.to_datetime(new_df['date_only'])

In [148]:
retweetsByDate = retweetsColumn_df.set_index('date_only')
retweetsByDate

            retweets
date_only
2012-04-09        82
2012-04-09        76
2012-04-09        54
2012-04-09        52
2012-04-09       471
...              ...
2020-11-01      3654
2020-11-01      4211
2020-11-01      1143
2020-11-01      2255
2020-11-01       270

[6062 rows x 1 columns]

In [149]:
favoritesByDate = favoritesColumn_df.set_index('date_only')
favoritesByDate

            likes
date_only
2012-04-09     20
2012-04-09     51
2012-04-09      5
2012-04-09      6
2012-04-09     51
...           ...
2020-11-01  36995
2020-11-01  34240
2020-11-01   6954
2020-11-01  16696
2020-11-01   1648

[6062 rows x 1 columns]

In [150]:
#Dainly summary table with count of tweets per dar column
retweetDaily_count = retweetsByDate.groupby(pd.Grouper(freq='1d', level='date_only')).sum()
retweetDaily_count

            retweets
date_only
2012-04-09       764
2012-04-10       308
2012-04-11       555
2012-04-12       143
2012-04-13       466
...              ...
2020-10-28    207993
2020-10-29    188689
2020-10-30    206124
2020-10-31    262108
2020-11-01    104304

[3129 rows x 1 columns]

In [151]:
#Dainly summary table with count of tweets per dar column
favoritesDaily_count = favoritesByDate.groupby(pd.Grouper(freq='1d', level='date_only')).sum()
favoritesDaily_count

              likes
date_only
2012-04-09      145
2012-04-10      152
2012-04-11      233
2012-04-12       29
2012-04-13      107
...             ...
2020-10-28  1648256
2020-10-29  1412505
2020-10-30  1583683
2020-10-31  2058368
2020-11-01   702887

[3129 rows x 1 columns]

In [152]:
ret_and_fav_summary = pd.merge(retweetDaily_count,favoritesDaily_count, left_index=True, right_index=True)
ret_and_fav_summary

            retweets    likes
date_only
2012-04-09       764      145
2012-04-10       308      152
2012-04-11       555      233
2012-04-12       143       29
2012-04-13       466      107
...              ...      ...
2020-10-28    207993  1648256
2020-10-29    188689  1412505
2020-10-30    206124  1583683
2020-10-31    262108  2058368
2020-11-01    104304   702887

[3129 rows x 2 columns]

In [153]:
ret_and_fav_summary.reset_index(level=0, inplace=True)
ret_and_fav_summary

      date_only  retweets    likes
0    2012-04-09       764      145
1    2012-04-10       308      152
2    2012-04-11       555      233
3    2012-04-12       143       29
4    2012-04-13       466      107
...         ...       ...      ...
3124 2020-10-28    207993  1648256
3125 2020-10-29    188689  1412505
3126 2020-10-30    206124  1583683
3127 2020-10-31    262108  2058368
3128 2020-11-01    104304   702887

[3129 rows x 3 columns]

In [154]:
final_summary = pd.merge(daily_df,ret_and_fav_summary, left_index=True, right_index=True)
final_summary

,date_only_x,mean_sentiment,countOf_tweets_day,tweet_sentiment,date_only_y,retweets,likes
0,2012-04-09,0.070833,6,Neutral,2012-04-09,764,145
1,2012-04-10,0.125000,4,Positive,2012-04-10,308,152
2,2012-04-11,0.159273,5,Positive,2012-04-11,555,233
3,2012-04-12,0.277273,4,Positive,2012-04-12,143,29
4,2012-04-13,0.099956,7,Neutral,2012-04-13,466,107
...,...,...,...,...,...,...,...
3124,2020-10-28,0.093219,19,Neutral,2020-10-28,207993,1648256
3125,2020-10-29,0.128608,23,Positive,2020-10-29,188689,1412505
3126,2020-10-30,0.098886,16,Neutral,2020-10-30,206124,1583683
3127,2020-10-31,0.145417,26,Positive,2020-10-31,262108,2058368
3128,2020-11-01,0.074997,19,Neutral,2020-11-01,104304,702887

In [155]:
final_summary.to_csv('JoeBiden_Daily_summary.csv',index=False)